h1 {
  color: darkhotpink; 
  font-size: 60px;
  text-align: center;
}
p {
  text-align: center;
  font-size: 24px;
  color: watermelonpink;
}
body {
  background-color: lightblue;
}
button {
  text-align: center;
  background-color: hotpink;
  color: white;
  font-size: 30px;
  padding: 20px 40px;
  border: 2px solid darkhotpink;
  border-radius: 50px;
}
