h1 {
  color: #F52887; 
  font-size: 60px;
  text-align: center;
}
p {
  text-align: center;
  font-size: 24px;
  color: #E30B5D;
}
body {
  background-color: #D462FF;
  text-align: center;
}
button {
  text-align: center;
  background-color: hotpink;
  color: white;
  font-size: 30px;
  padding: 20px 40px;
  border: 2px solid #FFB2D0;
  border-radius: 50px;
}
