h1 {
  color: #F52887; 
  font-size: 60px;
  text-align: center;
}
p {
  text-align: center;
  font-size: 24px;
  color: #FC6C85;
}
body {
  background-color: lightblue;
}
button {
  text-align: center;
  background-color: hotpink;
  color: white;
  font-size: 30px;
  padding: 20px 40px;
  border: 2px solid #04AA6D;
  border-radius: 50px;
}
